{% extends 'base.html.twig' %}

{% block title %}Liste des parents
{% endblock %}

{% block body %}
    <div class="container mt-4 parents-list">
        <h1 class="mb-4">Liste des parents et leurs enfants</h1>
        <table class="table table-bordered table-striped">
            <thead class="table-dark">
                <tr>
                    <th>Nom du parent</th>
                    <th>Enfants associés</th>
                    <th>Mercredi</th>
                    <th>Weekend</th>
                </tr>
            </thead>
            <tbody>
                {% for parent in parents %}
                    {% if parent.hasRole("ROLE_ADMIN") == false %}
                        {% set color = "danger" %}
                        {% if parent.getCountSelectedReservationsByType == 1 %}
                            {% set color = "warning" %}
                        {% endif %}
                        {% if parent.getCountSelectedReservationsByType == 2 %}
                            {% set color = "success" %}
                        {% endif %}
                        <tr class="table-{{color}}">
                            <td>{{ parent.name }}</td>
                            <td>
                                {% if parent.children is not empty %}
                                        {% for child in parent.children %}
                                            {{ child.firstname }}
                                        {% endfor %}
                                {% else %}
                                    <em>Aucun enfant</em>
                                {% endif %}
                            </td>
                            <td>
                                {{ parent.getMercrediReservations|length }} réservation(s)
                                <ul>
                                {% for reservation in parent.getMercrediReservations %}
                                    {% if reservation.isSelected %}
                                        <li class="text-success">
                                            <b>{{reservation.slot.label}}</b>
                                        </li>
                                    {% else %}
                                        <li class="text-warning">{{reservation.slot.label}}</li>
                                    {% endif %}
                                {% endfor %}
                                </ul>
                            </td>
                            <td>
                                {{ parent.getWeekendReservations|length }}
                                réservation(s)
                                <ul>
                                    {% for reservation in parent.getWeekendReservations %}
                                        {% if reservation.isSelected %}
                                            <li class="text-success">
                                                <b>{{reservation.slot.label}}</b>
                                            </li>
                                        {% else %}
                                            <li class="text-warning">{{reservation.slot.label}}</li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </td>
                        </tr>
                    {% endif %}
                {% else %}
                    <tr>
                        <td colspan="3" class="text-center">Aucun parent trouvé</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

