{% extends 'base.html.twig' %}
{% block title %}Loup - Admin — Créneaux{% endblock %}
{% block body %}
<h1>Gestion des créneaux</h1>
<table class="table">
  <thead><tr><th>Label</th><th>Début</th><th>Fin</th><th>Réservations</th><th>Selectionné</th><th>Action</th></tr></thead>
  <tbody>
  {% for slot in slots %}
    {% set color = "" %}
    {% if slot.reservations|length > 1 %}
      {% set color = "warning" %}
    {% endif %}
    {% if slot.reservations|length == 1 %}
      {% set color = "success" %}
    {% endif %}
    <tr class="table-{{color}}">
      <td>{{ slot.label }}</td>
      <td>{{ slot.startAt|date('d/m/Y') }}</td>
      <td>{{ slot.endAt|date('d/m/Y') }}</td>
      <td>{{ slot.reservations|length }}</td>
      <td>{{ slot.getSelectedReservation() }}</td>
      <td>
        {% if slot.reservations|length > 1 %}
          <a class="btn btn-danger btn-sm" href="{{ path('admin_slot_arbitre', {id:slot.id}) }}">Arbitrer</a>
        {% endif %}
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
<a class="btn btn-outline-primary" href="{{ path('admin_export') }}">Exporter CSV</a>
{% endblock %}