{% extends 'base.html.twig' %}
{% block title %}Loup - Créneau - {{ slot.label }}- Arbitrage{% endblock %}

{% block body %}
<h1>Créneau — {{ slot.label }} - Arbitrage</h1>
<ul class="list-group">
  {% for r in reservations %}
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <div>
        <strong>{{ r.user.email }}</strong> — {{ r.child.firstName }} — {{ r.justification }} — <em>{{ r.status }}</em>
      </div>
      {% if r.status != 'SELECTIONNE' %}
        <form method="post" action="{{ path('admin_choose_reservation', {id: r.id}) }}">
          <button class="btn btn-sm btn-primary" type="submit">Choisir</button>
        </form>
      {% endif %}
    </li>
  {% endfor %}
</ul>
{% endblock %}